In [1]:
# The data_dir variable is the only input allowed to your code. 
# Do not modify any file names in the image directory.
data_dir = "./MASI_pets"
# Add your code in the cells.

In [2]:
#Add all libraries 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from PIL import Image
%matplotlib inline
from glob import glob
import os

## Task 1: Gathering meta data from image files

In [16]:
#img_name.sort()
data = os.listdir(data_dir)
data.sort()

In [19]:
img_list = [] #Store the names of files
num_arr = [] #Convert images to numpy arrays
img_name = [] #Name of image
img_dim = [] #image dimensions
img_size = [] #Total number of pixels
img_asp_rat = [] #Aspect ratio
pet_name = [] #Name of pet
owner = [] #Name of owner
for image in data:
    img_name.append(image) #Image name

In [20]:
for img in data:
    image = os.path.join(data_dir, img)
    read = Image.open(image) #Converting strings to images and appending them to a list
    img_list.append(read)

In [21]:
img_name

['Arthur_FR.jpg',
 'August_XY.jpg',
 'Disney_XY.jpg',
 'Francie_CK.jpg',
 'Fuzzy Pants_BL.png',
 'Hamilton_CK.png',
 'Hazel_KS.JPG',
 'Lucky_TL.jpg',
 'Mango_LC.jpg',
 'Max_BL.jpg',
 'Morris and Jackson_YT.jpg',
 'Nimbus_KR.jpg',
 'Nutmeg_BL.JPG',
 'Oliver_CB.jpg',
 'Ruby and Buddy_MK.jpg',
 'Xiaomi_CG.jpeg',
 'Yasha_SR.jpg',
 'Ziggy_NN.jpg']

In [23]:
for pet in img_list:
    num_arr.append(np.asarray(pet))

In [22]:
img_list

[<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F77026AD310>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F770214AF10>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=4032x3024 at 0x7F770214AEB0>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F770214AD60>,
 <PIL.PngImagePlugin.PngImageFile image mode=RGBA size=1785x3173 at 0x7F770214ACD0>,
 <PIL.PngImagePlugin.PngImageFile image mode=RGBA size=3024x4032 at 0x7F770214ABE0>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=649x1398 at 0x7F770214AB80>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=2268x4032 at 0x7F770214ABB0>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F770214AB20>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=1960x4032 at 0x7F770214FE20>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=1838x1278 at 0x7F770214F0A0>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=1200x1600 at 0x7F770215D130>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3072x2304 at 0x7F770215DF10>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=2448x3264 at 0x7F770215D0D0>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F7702161D00>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F7702161F10>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3456x4608 at 0x7F7702161E20>,
 <PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=3024x4032 at 0x7F7702161DC0>]

In [24]:
for im in num_arr:
    img_dim.append((im.shape[0],im.shape[1])) #Tuple representing heigh and width of image
    img_size.append(im.shape[0] * im.shape[1])
    img_asp_rat.append(float(im.shape[1]/im.shape[0]))

In [25]:
img_dim

[(4032, 3024),
 (4032, 3024),
 (3024, 4032),
 (4032, 3024),
 (3173, 1785),
 (4032, 3024),
 (1398, 649),
 (4032, 2268),
 (4032, 3024),
 (4032, 1960),
 (1278, 1838),
 (1600, 1200),
 (2304, 3072),
 (3264, 2448),
 (4032, 3024),
 (4032, 3024),
 (4608, 3456),
 (4032, 3024)]

In [26]:
img_size

[12192768,
 12192768,
 12192768,
 12192768,
 5663805,
 12192768,
 907302,
 9144576,
 12192768,
 7902720,
 2348964,
 1920000,
 7077888,
 7990272,
 12192768,
 12192768,
 15925248,
 12192768]

In [27]:
img_asp_rat

[0.75,
 0.75,
 1.3333333333333333,
 0.75,
 0.5625590923416325,
 0.75,
 0.4642346208869814,
 0.5625,
 0.75,
 0.4861111111111111,
 1.4381846635367763,
 0.75,
 1.3333333333333333,
 0.75,
 0.75,
 0.75,
 0.75,
 0.75]

In [28]:
new = [pet.split('_') for pet in data]

In [29]:
new

[['Arthur', 'FR.jpg'],
 ['August', 'XY.jpg'],
 ['Disney', 'XY.jpg'],
 ['Francie', 'CK.jpg'],
 ['Fuzzy Pants', 'BL.png'],
 ['Hamilton', 'CK.png'],
 ['Hazel', 'KS.JPG'],
 ['Lucky', 'TL.jpg'],
 ['Mango', 'LC.jpg'],
 ['Max', 'BL.jpg'],
 ['Morris and Jackson', 'YT.jpg'],
 ['Nimbus', 'KR.jpg'],
 ['Nutmeg', 'BL.JPG'],
 ['Oliver', 'CB.jpg'],
 ['Ruby and Buddy', 'MK.jpg'],
 ['Xiaomi', 'CG.jpeg'],
 ['Yasha', 'SR.jpg'],
 ['Ziggy', 'NN.jpg']]

In [30]:

for item in new:
    pet_name.append(item[0])
    owner.append(item[1].split('.')[0])

In [31]:
pet_name

['Arthur',
 'August',
 'Disney',
 'Francie',
 'Fuzzy Pants',
 'Hamilton',
 'Hazel',
 'Lucky',
 'Mango',
 'Max',
 'Morris and Jackson',
 'Nimbus',
 'Nutmeg',
 'Oliver',
 'Ruby and Buddy',
 'Xiaomi',
 'Yasha',
 'Ziggy']

In [32]:
owner

['FR',
 'XY',
 'XY',
 'CK',
 'BL',
 'CK',
 'KS',
 'TL',
 'LC',
 'BL',
 'YT',
 'KR',
 'BL',
 'CB',
 'MK',
 'CG',
 'SR',
 'NN']

## Create a table for the meta data

In [33]:
dict = {"Image_Name":img_name, "Image_dimensions":img_dim, "Image_size":img_size, 
        "Aspect Ratio":img_asp_rat, "Pet Name":pet_name, "Owner": owner}
table = pd.DataFrame(dict)

In [34]:
table

,Image_Name,Image_dimensions,Image_size,Aspect Ratio,Pet Name,Owner
0,Arthur_FR.jpg,"(4032, 3024)",12192768,0.750000,Arthur,FR
1,August_XY.jpg,"(4032, 3024)",12192768,0.750000,August,XY
2,Disney_XY.jpg,"(3024, 4032)",12192768,1.333333,Disney,XY
3,Francie_CK.jpg,"(4032, 3024)",12192768,0.750000,Francie,CK
4,Fuzzy Pants_BL.png,"(3173, 1785)",5663805,0.562559,Fuzzy Pants,BL
5,Hamilton_CK.png,"(4032, 3024)",12192768,0.750000,Hamilton,CK
6,Hazel_KS.JPG,"(1398, 649)",907302,0.464235,Hazel,KS
7,Lucky_TL.jpg,"(4032, 2268)",9144576,0.562500,Lucky,TL
8,Mango_LC.jpg,"(4032, 3024)",12192768,0.750000,Mango,LC
9,Max_BL.jpg,"(4032, 1960)",7902720,0.486111,Max,BL
10,Morris and Jackson_YT.jpg,"(1278, 1838)",2348964,1.438185,Morris and Jackson,YT
11,Nimbus_KR.jpg,"(1600, 1200)",1920000,0.750000,Nimbus,KR
12,Nutmeg_BL.JPG,"(2304, 3072)",7077888,1.333333,Nutmeg,BL
13,Oliver_CB.jpg,"(3264, 2448)",7990272,0.750000,Oliver,CB
14,Ruby and Buddy_MK.jpg,"(4032, 3024)",12192768,0.750000,Ruby and Buddy,MK
15,Xiaomi_CG.jpeg,"(4032, 3024)",12192768,0.750000,Xiaomi,CG
16,Yasha_SR.jpg,"(4608, 3456)",15925248,0.750000,Yasha,SR
17,Ziggy_NN.jpg,"(4032, 3024)",12192768,0.750000,Ziggy,NN

In [35]:
new_table = table.copy(deep = False)

In [36]:
new_table.sort_values(by=['Image_size','Pet Name'], ascending = [False, True])

,Image_Name,Image_dimensions,Image_size,Aspect Ratio,Pet Name,Owner
16,Yasha_SR.jpg,"(4608, 3456)",15925248,0.750000,Yasha,SR
0,Arthur_FR.jpg,"(4032, 3024)",12192768,0.750000,Arthur,FR
1,August_XY.jpg,"(4032, 3024)",12192768,0.750000,August,XY
2,Disney_XY.jpg,"(3024, 4032)",12192768,1.333333,Disney,XY
3,Francie_CK.jpg,"(4032, 3024)",12192768,0.750000,Francie,CK
5,Hamilton_CK.png,"(4032, 3024)",12192768,0.750000,Hamilton,CK
8,Mango_LC.jpg,"(4032, 3024)",12192768,0.750000,Mango,LC
14,Ruby and Buddy_MK.jpg,"(4032, 3024)",12192768,0.750000,Ruby and Buddy,MK
15,Xiaomi_CG.jpeg,"(4032, 3024)",12192768,0.750000,Xiaomi,CG
17,Ziggy_NN.jpg,"(4032, 3024)",12192768,0.750000,Ziggy,NN
7,Lucky_TL.jpg,"(4032, 2268)",9144576,0.562500,Lucky,TL
13,Oliver_CB.jpg,"(3264, 2448)",7990272,0.750000,Oliver,CB
9,Max_BL.jpg,"(4032, 1960)",7902720,0.486111,Max,BL
12,Nutmeg_BL.JPG,"(2304, 3072)",7077888,1.333333,Nutmeg,BL
4,Fuzzy Pants_BL.png,"(3173, 1785)",5663805,0.562559,Fuzzy Pants,BL
10,Morris and Jackson_YT.jpg,"(1278, 1838)",2348964,1.438185,Morris and Jackson,YT
11,Nimbus_KR.jpg,"(1600, 1200)",1920000,0.750000,Nimbus,KR
6,Hazel_KS.JPG,"(1398, 649)",907302,0.464235,Hazel,KS